.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: rgb(236, 199, 135); /* Bootstrap blue or your brand color */
}

.search{
  margin-bottom: 120px;
}

.footer_container{
  position: relative;

}

.footer{
  
  width: 100%
}