.form-group{
    margin: 1rem;
}

.register{
    min-height: 70vh
}

.form-group label{
    margin-bottom: 5px;
}

.form-group button{
    border-radius: 10px;
    font-size: 20px;
    min-width: 150px;
    font-weight: 600;
}

.alert-danger{
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 4px
}

.register .form-group label{
    font-size: 2rem;
}

.register .form-group input{
    font-size: 1.8rem;
}