.form-group{
    margin: 1rem;
}

.register{
    min-height: 70vh
}

.form-group label{
    margin-bottom: 5px;
}

.form-group button{
    border-radius: 10px;
    font-size: 20px;
    min-width: 150px;
    font-weight: 600;
}

.alert-danger{
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 4px
}

.register .form-group label{
    font-size: 2rem;
}

.register .form-group input{
    font-size: 1.8rem;
}

.mySubmitBtn {
  background-color: #28a745; /* green */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mySubmitBtn:hover {
  background-color: #218838; /* darker green on hover */
}

.myCancelBtn {
  background-color: #dc3545; /* red */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.myCancelBtn:hover {
  background-color: #c82333; /* darker red on hover */
}
